<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Address Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>AddressBook</h1>
<p th:text="'Id: ' + ${book.id}"/>

<p>My Buddies:</p>
<tr th:each="buddy: ${book.getBuddy}">
    <td th:text="'Id: ' + ${buddy.id}" />
    <td th:text="'Name: ' + ${buddy.name}" />
    <td th:text="'Address: ' + ${buddy.address}" />
    <td th:text="'Phone Number: ' + ${buddy.phoneNum}" />
    <br />
</tr>

</body>
</html>